# ROST1_NF3

In [21]:
import pandas as pd
import numpy as np

In [22]:
file = pd. ExcelFile('boss_nf_sub.xlsx')
rost1_nf3 = pd. read_excel(file, 'rost1_nf3')
rosedale1_nf3 = pd. read_excel(file, 'rosedale_test1')

In [23]:
rost1_nf3

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,123,Point,484836,5771454,3316.660970,-2988.348946,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
1,139,Point,485536,5771702,3608.701302,-2884.839026,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,159,Point,485805,5770388,3720.928230,-3433.274652,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,162,Point,486904,5770633,4179.431551,-3331.016868,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,163,Point,486950,5770664,4198.622773,-3318.078128,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,996,Point,485908,5770993,3763.899879,-3180.760532,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
395,997,Point,486366,5770885,3954.977696,-3225.837433,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
396,998,Point,486689,5770757,4089.733449,-3279.261908,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
397,999,Point,486385,5770810,3962.904505,-3257.140836,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
398,1000,Point,486383,5771204,3962.070104,-3092.693624,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [24]:
xrost1nf3cord_list = rost1_nf3['x'].to_list()
# len(xrost1cord_list)
xrost1nf3cord_list
yrost1nf3cord_list = rost1_nf3['y'].to_list()
# len(yrost1cord_list)
yrost1nf3cord_list

[5771454,
 5771702,
 5770388,
 5770633,
 5770664,
 5771482,
 5770881,
 5770606,
 5770709,
 5770920,
 5771477,
 5771502,
 5770864,
 5771380,
 5770429,
 5770538,
 5771430,
 5771509,
 5771531,
 5770633,
 5770627,
 5771037,
 5771501,
 5771284,
 5770423,
 5770360,
 5771521,
 5770701,
 5771447,
 5771078,
 5770780,
 5771139,
 5771226,
 5771646,
 5770739,
 5771153,
 5771518,
 5770325,
 5771268,
 5771462,
 5770331,
 5771170,
 5770379,
 5771488,
 5771589,
 5771547,
 5771384,
 5771278,
 5771073,
 5771726,
 5770904,
 5771196,
 5770607,
 5770529,
 5771032,
 5770820,
 5770367,
 5770609,
 5770940,
 5771583,
 5771270,
 5770888,
 5771233,
 5771296,
 5770533,
 5770917,
 5771428,
 5770670,
 5770908,
 5770446,
 5770998,
 5770714,
 5770534,
 5770476,
 5771150,
 5770390,
 5770732,
 5771044,
 5770618,
 5770592,
 5771374,
 5771569,
 5770507,
 5770615,
 5770679,
 5770964,
 5770502,
 5771146,
 5770564,
 5771068,
 5771396,
 5770633,
 5770392,
 5770682,
 5770394,
 5771064,
 5771431,
 5770662,
 5771428,
 5770789,
 5770403,
 5770462,
 5771257,
 5770568,
 5771433,
 5771485,
 5771686,
 5770625,
 5770624,
 5771228,
 5770721,
 5770832,
 5771484,
 5770856,
 5771404,
 5771199,
 5771339,
 5770354,
 5770425,
 5770900,
 5771150,
 5770641,
 5771648,
 5770621,
 5770534,
 5771190,
 5771191,
 5771045,
 5771070,
 5771376,
 5771346,
 5770309,
 5771105,
 5771576,
 5770903,
 5771122,
 5771072,
 5771260,
 5770746,
 5770931,
 5771561,
 5771592,
 5770700,
 5770762,
 5771170,
 5771216,
 5771390,
 5771451,
 5770826,
 5770625,
 5771170,
 5770682,
 5771296,
 5771176,
 5770797,
 5771478,
 5771624,
 5771345,
 5771055,
 5771571,
 5771053,
 5771025,
 5770694,
 5770790,
 5770854,
 5771150,
 5770856,
 5771033,
 5771592,
 5770447,
 5771140,
 5771185,
 5770568,
 5771395,
 5770897,
 5770533,
 5771373,
 5771568,
 5770715,
 5770814,
 5770447,
 5770967,
 5771408,
 5771415,
 5771656,
 5771106,
 5770288,
 5770705,
 5770820,
 5770863,
 5770472,
 5771100,
 5770688,
 5771276,
 5770554,
 5771425,
 5771426,
 5770588,
 5771190,
 5770751,
 5771677,
 5770891,
 5771058,
 5771095,
 5771058,
 5771186,
 5771539,
 5770853,
 5771308,
 5771235,
 5771621,
 5771185,
 5770646,
 5770621,
 5770804,
 5770772,
 5770523,
 5770768,
 5771447,
 5771026,
 5770431,
 5770654,
 5771461,
 5770979,
 5770790,
 5770295,
 5771567,
 5770407,
 5770319,
 5770714,
 5770541,
 5770999,
 5770593,
 5771318,
 5770517,
 5770513,
 5771348,
 5771499,
 5771717,
 5771517,
 5771323,
 5771012,
 5771124,
 5771164,
 5770396,
 5770959,
 5770670,
 5770395,
 5771173,
 5770926,
 5770490,
 5771459,
 5771095,
 5770883,
 5771032,
 5771227,
 5770340,
 5770852,
 5770747,
 5770504,
 5770810,
 5771006,
 5771396,
 5770970,
 5770816,
 5771270,
 5770565,
 5771657,
 5770478,
 5770695,
 5771492,
 5770469,
 5770676,
 5771213,
 5770839,
 5770925,
 5770990,
 5770962,
 5770536,
 5771515,
 5771430,
 5770335,
 5771488,
 5770543,
 5770679,
 5771317,
 5770887,
 5771576,
 5770882,
 5771110,
 5771078,
 5770972,
 5770686,
 5770794,
 5771347,
 5771064,
 5771526,
 5770567,
 5771578,
 5771543,
 5771409,
 5771366,
 5770388,
 5770449,
 5771101,
 5771043,
 5771028,
 5771197,
 5770945,
 5770981,
 5771471,
 5771027,
 5771260,
 5771384,
 5771286,
 5770816,
 5771152,
 5771617,
 5771062,
 5771059,
 5771374,
 5771557,
 5770618,
 5771146,
 5771063,
 5770497,
 5770270,
 5770772,
 5771761,
 5771129,
 5771226,
 5770916,
 5771276,
 5771012,
 5771038,
 5771172,
 5771430,
 5770253,
 5771101,
 5770557,
 5771172,
 5771359,
 5770340,
 5771352,
 5770720,
 5771624,
 5771531,
 5771616,
 5770285,
 5771762,
 5771707,
 5770571,
 5771729,
 5770924,
 5770905,
 5771318,
 5771274,
 5771240,
 5771399,
 5770928,
 5771117,
 5771180,
 5771604,
 5770464,
 5770703,
 5770749,
 5770694,
 5770769,
 5770435,
 5771145,
 5771018,
 5770475,
 5771449,
 5771706,
 5770580,
 5770961,
 5770513,
 5770484,
 5770259,
 5770409,
 5771367,
 5771469,
 5771348,
 5770922,
 5770423,
 5771478,
 5771616,
 5771475,
 5771236,
 5771174,
 5771262,
 5771369,
 5771620,
 5771589,
 5770993,
 5770885,
 5770757,
 5770810,
 5771204]

In [25]:
rosedale1_nf3

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,491391,5769660,6051.410079,-3737.126353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476885.0,5778615.0,-0.500000,0.500000
1,486132,5764884,3857.352785,-5730.527075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493745.0,5764805.0,7033.499995,-5763.499993
2,484371,5776757,3122.662750,-774.989644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,490629,5769181,5733.503317,-3937.050756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,485305,5767946,3512.327993,-4452.513463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,485908,5770993,3763.899879,-3180.760532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,486366,5770885,3954.977696,-3225.837433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,486689,5770757,4089.733449,-3279.261908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,486385,5770810,3962.904505,-3257.140836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,486383,5771204,3962.070104,-3092.693624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
rosedale1_nf3['target'] = np.where( (rosedale1_nf3['x'].isin(xrost1nf3cord_list) & (rosedale1_nf3['y'].isin(yrost1nf3cord_list) )), 1, 0)

In [27]:
rosedale1_nf3.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [28]:
rosedale1_nf3 = rosedale1_nf3.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis =1)

In [29]:
rosedale1_nf3

     target
0         0
1         0
2         0
3         0
4         0
..      ...
995       1
996       1
997       1
998       1
999       1

[1000 rows x 1 columns]

In [30]:
len(rosedale1_nf3.loc[rosedale1_nf3['target']==1])

404

# ROST2_NF1

In [75]:
import pandas as pd
import numpy as np

In [76]:
file = pd. ExcelFile('boss_nf_sub.xlsx')
rost2_nf1 = pd.read_excel(file, 'rost2_nf1')
rosedale2_nf1 = pd.read_excel(file, 'rosedale_test2')

In [77]:
rost2_nf1

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,52,Point,487521,5768585,4436.844244,-4185.808467,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
1,53,Point,489293,5769808,5176.123484,-3675.354304,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,63,Point,490561,5769255,5705.133685,-3906.164731,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,64,Point,487811,5770712,4557.832381,-3298.043950,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,66,Point,485250,5771348,3489.381967,-3032.591090,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,989,Point,487220,5769030,4311.266901,-4000.074941,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
411,990,Point,486700,5770349,4094.322654,-3449.552422,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
412,991,Point,486565,5769126,4038.000590,-3960.006585,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
413,992,Point,488286,5768342,4756.002606,-4287.231494,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
414,997,Point,489038,5768451,5069.737363,-4241.737214,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [78]:
xrost2nf1cord_list = rost2_nf1['x'].to_list()
# len(xrost1cord_list)
xrost2nf1cord_list
yrost2nf1cord_list = rost2_nf1['y'].to_list()
# len(yrost1cord_list)
yrost2nf1cord_list

[5768585,
 5769808,
 5769255,
 5770712,
 5771348,
 5770989,
 5768359,
 5768391,
 5768984,
 5768418,
 5768777,
 5767966,
 5768261,
 5770255,
 5768751,
 5771133,
 5769593,
 5771642,
 5769475,
 5768048,
 5769353,
 5767773,
 5767691,
 5769538,
 5770182,
 5767933,
 5769067,
 5769207,
 5771141,
 5769944,
 5770731,
 5769012,
 5770414,
 5769210,
 5769216,
 5768589,
 5770145,
 5767790,
 5768124,
 5768499,
 5771125,
 5770300,
 5768740,
 5770061,
 5768950,
 5771021,
 5769982,
 5770443,
 5770596,
 5769595,
 5771140,
 5771651,
 5768161,
 5769273,
 5768413,
 5769774,
 5771478,
 5769155,
 5769785,
 5768038,
 5768680,
 5770620,
 5770697,
 5771041,
 5769716,
 5770323,
 5770226,
 5768142,
 5769910,
 5769220,
 5770615,
 5768579,
 5770366,
 5770771,
 5770919,
 5769778,
 5770395,
 5771284,
 5769921,
 5769196,
 5770132,
 5769175,
 5768344,
 5770882,
 5768867,
 5767887,
 5768273,
 5770379,
 5768988,
 5771629,
 5769484,
 5771561,
 5768539,
 5768985,
 5769873,
 5769016,
 5768990,
 5768567,
 5768278,
 5770251,
 5770186,
 5768110,
 5769043,
 5771190,
 5768492,
 5768323,
 5767926,
 5770831,
 5769549,
 5769754,
 5770322,
 5768820,
 5769410,
 5769118,
 5770396,
 5770420,
 5767678,
 5768444,
 5769756,
 5770857,
 5769389,
 5771237,
 5769706,
 5769293,
 5771234,
 5768119,
 5769437,
 5767983,
 5770325,
 5770668,
 5770715,
 5768271,
 5769316,
 5769285,
 5769884,
 5770601,
 5769179,
 5770776,
 5771081,
 5770473,
 5771567,
 5769065,
 5768140,
 5768926,
 5769959,
 5768831,
 5768296,
 5768179,
 5771120,
 5769549,
 5770413,
 5769448,
 5770966,
 5768402,
 5768252,
 5769495,
 5768445,
 5770273,
 5769077,
 5771250,
 5770101,
 5770297,
 5768407,
 5767961,
 5769421,
 5768543,
 5770960,
 5770415,
 5769412,
 5770495,
 5770568,
 5768437,
 5770322,
 5769697,
 5771507,
 5767733,
 5770301,
 5767652,
 5768774,
 5768700,
 5769077,
 5769309,
 5768011,
 5769031,
 5769368,
 5768973,
 5767885,
 5768551,
 5770185,
 5767926,
 5771382,
 5770373,
 5769858,
 5767890,
 5769521,
 5771278,
 5769743,
 5769001,
 5769356,
 5769546,
 5768793,
 5768575,
 5768937,
 5770652,
 5769036,
 5770529,
 5768834,
 5770981,
 5769949,
 5769524,
 5771280,
 5768308,
 5770208,
 5768899,
 5767561,
 5768496,
 5770971,
 5770679,
 5767982,
 5771162,
 5769307,
 5768571,
 5768228,
 5770398,
 5770284,
 5769753,
 5769584,
 5770866,
 5769997,
 5769224,
 5770258,
 5770626,
 5769614,
 5768385,
 5770824,
 5769865,
 5770657,
 5769438,
 5770258,
 5768083,
 5770279,
 5770136,
 5768522,
 5768831,
 5769429,
 5767938,
 5768993,
 5769412,
 5769164,
 5770375,
 5771543,
 5767813,
 5771677,
 5771242,
 5769465,
 5769477,
 5770141,
 5767806,
 5770955,
 5768838,
 5769249,
 5770121,
 5768562,
 5769730,
 5768506,
 5771528,
 5770736,
 5771432,
 5770479,
 5770418,
 5770959,
 5768825,
 5771413,
 5768995,
 5769920,
 5771238,
 5767540,
 5770721,
 5770658,
 5769245,
 5768511,
 5770731,
 5767519,
 5771529,
 5771764,
 5767801,
 5771391,
 5769712,
 5770114,
 5767831,
 5771525,
 5768167,
 5769545,
 5770431,
 5769783,
 5768880,
 5770162,
 5771540,
 5769231,
 5770387,
 5769580,
 5768004,
 5770183,
 5771096,
 5768098,
 5770639,
 5770177,
 5770234,
 5771172,
 5769149,
 5768912,
 5769313,
 5770308,
 5769746,
 5767919,
 5770712,
 5769286,
 5769578,
 5771239,
 5769024,
 5769821,
 5768896,
 5767789,
 5768354,
 5768836,
 5770552,
 5769462,
 5769247,
 5771105,
 5769268,
 5769423,
 5768865,
 5768048,
 5771458,
 5767862,
 5769022,
 5769783,
 5771439,
 5770030,
 5768937,
 5767857,
 5767849,
 5768127,
 5769373,
 5771367,
 5768901,
 5769635,
 5769844,
 5769921,
 5769898,
 5769517,
 5768259,
 5770811,
 5769026,
 5769529,
 5768883,
 5770886,
 5770028,
 5768581,
 5770542,
 5770893,
 5770609,
 5768460,
 5769583,
 5771080,
 5771374,
 5771729,
 5769422,
 5770898,
 5768345,
 5771483,
 5769844,
 5770825,
 5769704,
 5771051,
 5768930,
 5768203,
 5769324,
 5770027,
 5768392,
 5770666,
 5769524,
 5771074,
 5769885,
 5768345,
 5770095,
 5768631,
 5769027,
 5769524,
 5771101,
 5769144,
 5770310,
 5770746,
 5768649,
 5767522,
 5769944,
 5769469,
 5768793,
 5768157,
 5768444,
 5769174,
 5769121,
 5771571,
 5769866,
 5770910,
 5768548,
 5768651,
 5770891,
 5768686,
 5769272,
 5769030,
 5770349,
 5769126,
 5768342,
 5768451]

In [79]:
rosedale2_nf1

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,495091,5770396,7595.051833,-3429.935622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476885.0,5778615.0,-0.500000,0.500000
1,478577,5771729,705.403202,-2873.569801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493745.0,5764805.0,7033.499995,-5763.499993
2,482313,5775445,2264.064174,-1322.590513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,476639,5776181,-103.131317,-1015.399782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,481151,5771279,1779.277223,-3061.390221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,489222,5766796,5146.502250,-4932.498980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,489038,5768451,5069.737363,-4241.737214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,487558,5767863,4452.280661,-4487.155896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,489075,5766801,5085.173780,-4930.412087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,488860,5767193,4995.475679,-4766.799632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
rosedale2_nf1['target'] = np.where( (rosedale2_nf1['x'].isin(xrost2nf1cord_list) & (rosedale2_nf1['y'].isin(yrost2nf1cord_list) )), 1, 0)

In [81]:
rosedale2_nf1.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [82]:
rosedale2_nf1 = rosedale2_nf1.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis = 1)

In [83]:
rosedale2_nf1

     target
0         0
1         0
2         0
3         0
4         0
..      ...
995       0
996       1
997       0
998       0
999       0

[1000 rows x 1 columns]

In [84]:
len(rosedale2_nf1.loc[rosedale2_nf1['target']==1])

415

# TAMTEST1 NEW

In [105]:
import pandas as pd
import numpy as np

In [106]:
file = pd. ExcelFile('boss_nf_sub.xlsx')
tt1new = pd. read_excel(file, 'tamtest1new')
tambo1new = pd. read_excel(file, 'tambo_test1')

In [107]:
tt1new

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,1,Point,588613,5874800,3928.589333,-4716.770768,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,576045,5889885,-0.5,0.5
1,3,Point,591855,5875553,4942.124312,-4481.298120,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,7,Point,591651,5876818,4878.348514,-4085.716581,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,9,Point,590650,5877155,4565.409429,-3980.332408,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,21,Point,589941,5875049,4343.757270,-4638.905310,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,996,Point,591212,5877259,4741.105499,-3947.810289,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
716,997,Point,590552,5877152,4534.772036,-3981.270546,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
717,998,Point,590925,5877243,4651.381705,-3952.813692,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
718,999,Point,589934,5877363,4341.568885,-3915.288171,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
719,1000,Point,590884,5876876,4638.564021,-4067.579245,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [108]:
xtt1newcord_list = tt1new['x'].to_list()
# len(xtt1cord_list)
xtt1newcord_list
ytt1newcord_list = tt1new['y'].to_list()
# len(ytt1cord_list)
ytt1newcord_list

[5874800,
 5875553,
 5876818,
 5877155,
 5875049,
 5878007,
 5875032,
 5878050,
 5875797,
 5876758,
 5874171,
 5876725,
 5878885,
 5877005,
 5876413,
 5876214,
 5874537,
 5877340,
 5876086,
 5878348,
 5878503,
 5877336,
 5875996,
 5875782,
 5874388,
 5878260,
 5876963,
 5874167,
 5876005,
 5874906,
 5877637,
 5875302,
 5874786,
 5877668,
 5877438,
 5878024,
 5877024,
 5877946,
 5876444,
 5874946,
 5878386,
 5874845,
 5877353,
 5876955,
 5874242,
 5875647,
 5874717,
 5877279,
 5874268,
 5878213,
 5877734,
 5876299,
 5877342,
 5877317,
 5875961,
 5876544,
 5876962,
 5877497,
 5875797,
 5877647,
 5878077,
 5875495,
 5876164,
 5877051,
 5877068,
 5877570,
 5875320,
 5876380,
 5876008,
 5876470,
 5876659,
 5876603,
 5876825,
 5876279,
 5876161,
 5876512,
 5877506,
 5876767,
 5877221,
 5877821,
 5877835,
 5877905,
 5876519,
 5877465,
 5877363,
 5877461,
 5877124,
 5878020,
 5876930,
 5877291,
 5875908,
 5877416,
 5876511,
 5875944,
 5876215,
 5878007,
 5875533,
 5878045,
 5876361,
 5877914,
 5875429,
 5876633,
 5877471,
 5876560,
 5876479,
 5876872,
 5877706,
 5877651,
 5876969,
 5875934,
 5876081,
 5877295,
 5875853,
 5876125,
 5876033,
 5876490,
 5878063,
 5875705,
 5876450,
 5876836,
 5877483,
 5877103,
 5876895,
 5875463,
 5877753,
 5877258,
 5877264,
 5876316,
 5875394,
 5877751,
 5877203,
 5877262,
 5876564,
 5876179,
 5876516,
 5877547,
 5877311,
 5876563,
 5875867,
 5876965,
 5877763,
 5876243,
 5875597,
 5875333,
 5876438,
 5875416,
 5876784,
 5876128,
 5877111,
 5876616,
 5877959,
 5876629,
 5877016,
 5877058,
 5876519,
 5876659,
 5877575,
 5877442,
 5877511,
 5876180,
 5876999,
 5878016,
 5877149,
 5877935,
 5877279,
 5877377,
 5875361,
 5876399,
 5876089,
 5877451,
 5877290,
 5876174,
 5876455,
 5877230,
 5875370,
 5877088,
 5876147,
 5876052,
 5877331,
 5876489,
 5877887,
 5877342,
 5877059,
 5878098,
 5875928,
 5876975,
 5875607,
 5876235,
 5876329,
 5876990,
 5878022,
 5877254,
 5877041,
 5875587,
 5876192,
 5877058,
 5876445,
 5875949,
 5876195,
 5876135,
 5877321,
 5876914,
 5877126,
 5876354,
 5875939,
 5877488,
 5875920,
 5876015,
 5876601,
 5876084,
 5876705,
 5876286,
 5876481,
 5876708,
 5876135,
 5876359,
 5875962,
 5877035,
 5876775,
 5877033,
 5876783,
 5876870,
 5876165,
 5876605,
 5876491,
 5876937,
 5876208,
 5876103,
 5877079,
 5876145,
 5876272,
 5876315,
 5876388,
 5876179,
 5875900,
 5876765,
 5877120,
 5875943,
 5877126,
 5877505,
 5877484,
 5876820,
 5877279,
 5876086,
 5876570,
 5876130,
 5876368,
 5876569,
 5876303,
 5876468,
 5876895,
 5876222,
 5876448,
 5876544,
 5877348,
 5876239,
 5876169,
 5877336,
 5876346,
 5876598,
 5877187,
 5877138,
 5877360,
 5876145,
 5875969,
 5876112,
 5876590,
 5876654,
 5876663,
 5876606,
 5876010,
 5877371,
 5877306,
 5877415,
 5876164,
 5877157,
 5877175,
 5877195,
 5877056,
 5876310,
 5876045,
 5876347,
 5876150,
 5877115,
 5876406,
 5876828,
 5876424,
 5876669,
 5877184,
 5875870,
 5877273,
 5877111,
 5877191,
 5876409,
 5876593,
 5877007,
 5877211,
 5876957,
 5876020,
 5877238,
 5876528,
 5876802,
 5875829,
 5877229,
 5876244,
 5877336,
 5876463,
 5876293,
 5876254,
 5876321,
 5877478,
 5877011,
 5877334,
 5876375,
 5876469,
 5877213,
 5876915,
 5876590,
 5876156,
 5876282,
 5876948,
 5877171,
 5876669,
 5876063,
 5876782,
 5876392,
 5875936,
 5876630,
 5876283,
 5876759,
 5876425,
 5877063,
 5876213,
 5876442,
 5877361,
 5877116,
 5877230,
 5877215,
 5875871,
 5876732,
 5877178,
 5876547,
 5876251,
 5876494,
 5877185,
 5877293,
 5876080,
 5876336,
 5877358,
 5877175,
 5877199,
 5876207,
 5875993,
 5877115,
 5877352,
 5877347,
 5876901,
 5876932,
 5876439,
 5876420,
 5877214,
 5876517,
 5877141,
 5876608,
 5876195,
 5876766,
 5876161,
 5876318,
 5876971,
 5877377,
 5876091,
 5876752,
 5876383,
 5877297,
 5876933,
 5876464,
 5875998,
 5876115,
 5876648,
 5877314,
 5876961,
 5877211,
 5875943,
 5876261,
 5877518,
 5876010,
 5877116,
 5877408,
 5876628,
 5876107,
 5876455,
 5877244,
 5876913,
 5876002,
 5877010,
 5876515,
 5876211,
 5876227,
 5876419,
 5876759,
 5876224,
 5876185,
 5876232,
 5876353,
 5877483,
 5876882,
 5877535,
 5876817,
 5877142,
 5876351,
 5876934,
 5876208,
 5876222,
 5877289,
 5876740,
 5876518,
 5876282,
 5876315,
 5876262,
 5876712,
 5876619,
 5876494,
 5877049,
 5876443,
 5876562,
 5876059,
 5876724,
 5876209,
 5876089,
 5876712,
 5875903,
 5877281,
 5875815,
 5875905,
 5877323,
 5876184,
 5877221,
 5876466,
 5876235,
 5876762,
 5877319,
 5876940,
 5877414,
 5877021,
 5876595,
 5877182,
 5875821,
 5876257,
 5877044,
 5876381,
 5877070,
 5876180,
 5876085,
 5875964,
 5876109,
 5876563,
 5876411,
 5876735,
 5876350,
 5876675,
 5876386,
 5876442,
 5877162,
 5875990,
 5876263,
 5876179,
 5876761,
 5876510,
 5876444,
 5875999,
 5877248,
 5876251,
 5876078,
 5876260,
 5876655,
 5876340,
 5877040,
 5876259,
 5876084,
 5876195,
 5876079,
 5876241,
 5877026,
 5876361,
 5877513,
 5876356,
 5876984,
 5876323,
 5877008,
 5876589,
 5875769,
 5876305,
 5875921,
 5876528,
 5876469,
 5876359,
 5876004,
 5877385,
 5876312,
 5876212,
 5876519,
 5875996,
 5877152,
 5876345,
 5876890,
 5877217,
 5876699,
 5877361,
 5877147,
 5877127,
 5876036,
 5877169,
 5877194,
 5876825,
 5876283,
 5876283,
 5875817,
 5876402,
 5876050,
 5876857,
 5876107,
 5877161,
 5876358,
 5876157,
 5876684,
 5876989,
 5876954,
 5876934,
 5877126,
 5876810,
 5876340,
 5876048,
 5877044,
 5877482,
 5875924,
 5876786,
 5877047,
 5876440,
 5877123,
 5876376,
 5876559,
 5876159,
 5876152,
 5875961,
 5877207,
 5876712,
 5877179,
 5876435,
 5877520,
 5877215,
 5876196,
 5877107,
 5876940,
 5876249,
 5877395,
 5876023,
 5875858,
 5876986,
 5876206,
 5876259,
 5876793,
 5877292,
 5876620,
 5875860,
 5877049,
 5877341,
 5876113,
 5876696,
 5875894,
 5876848,
 5876804,
 5875972,
 5877378,
 5877309,
 5876810,
 5876174,
 5876433,
 5876605,
 5876784,
 5877354,
 5877202,
 5876650,
 5876382,
 5876448,
 5876837,
 5876696,
 5876809,
 5876148,
 5876458,
 5876910,
 5876049,
 5876992,
 5877071,
 5876338,
 5877092,
 5876617,
 5876931,
 5877148,
 5876903,
 5876781,
 5877001,
 5876329,
 5876418,
 5876211,
 5877353,
 5877320,
 5876995,
 5877206,
 5876297,
 5876434,
 5876332,
 5877292,
 5877253,
 5876934,
 5877032,
 5876227,
 5876654,
 5877211,
 5876538,
 5876914,
 5875979,
 5877177,
 5877328,
 5876153,
 5877226,
 5877205,
 5876102,
 5876908,
 5877495,
 5876094,
 5876916,
 5877252,
 5877349,
 5876496,
 5876228,
 5875845,
 5877328,
 5876814,
 5877270,
 5876461,
 5877011,
 5876572,
 5876878,
 5876397,
 5876944,
 5877044,
 5876813,
 5877118,
 5876696,
 5876243,
 5876001,
 5875926,
 5876489,
 5876214,
 5877290,
 5876139,
 5876984,
 5876192,
 5876085,
 5876337,
 5876022,
 5877116,
 5876147,
 5875987,
 5876091,
 5877259,
 5877260,
 5876016,
 5876714,
 5876765,
 5875889,
 5876138,
 5877370,
 5875828,
 5876223,
 5875939,
 5876000,
 5877222,
 5877382,
 5876225,
 5876337,
 5877171,
 5875854,
 5877310,
 5877366,
 5877156,
 5876932,
 5876990,
 5876181,
 5876388,
 5877039,
 5876185,
 5876430,
 5877269,
 5876160,
 5877187,
 5877291,
 5877238,
 5876166,
 5875996,
 5876480,
 5877217,
 5877209,
 5876205,
 5876836,
 5876242,
 5876733,
 5877025,
 5876576,
 5876690,
 5877222,
 5876050,
 5875895,
 5877147,
 5876482,
 5877259,
 5877152,
 5877243,
 5877363,
 5876876]

In [109]:
tambo1new

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,588613,5874800,798.081479,-2268.787640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576045.0,5889885.0,-0.5,0.5
1,589850,5871865,876.681518,-2710.309631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,627445.0,5858735.0,3265.5,-4685.5
2,591855,5875553,1004.080934,-2155.511300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,592427,5878856,1040.426304,-1658.629823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,591715,5871148,995.185214,-2818.170369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,591212,5877259,963.224163,-1898.871942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,590552,5877152,921.287198,-1914.968315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,590925,5877243,944.987938,-1901.278876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,589934,5877363,882.018949,-1883.226870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,590884,5876876,942.382763,-1956.487929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
tambo1new['target'] = np.where( (tambo1new['x'].isin(xtt1newcord_list) & (tambo1new['y'].isin(ytt1newcord_list) )), 1, 0)

In [111]:
tambo1new.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [112]:
tambo1new = tambo1new.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis =1)

In [113]:
tambo1new

     target
0         1
1         0
2         1
3         0
4         0
..      ...
995       1
996       1
997       1
998       1
999       1

[1000 rows x 1 columns]

In [114]:
len(tambo1new.loc[tambo1new['target']==1])

720

# TAMTEST2

In [115]:
file = pd. ExcelFile('boss_nf_sub.xlsx')
tt2 = pd. read_excel(file, 'tamtest2')
tambo2 = pd. read_excel(file, 'tambo_test2')

In [116]:
tt2

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,6,Point,598173,5874110,6917.298278,-4932.542516,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
1,9,Point,598094,5871955,6892.600788,-5606.438340,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,32,Point,595007,5871475,5927.522910,-5756.540426,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,37,Point,593488,5874605,5452.643319,-4777.749740,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,45,Point,600559,5874070,7663.225008,-4945.051024,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,996,Point,600433,5870140,7623.834075,-6174.011853,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
455,997,Point,597452,5872479,6691.894601,-5442.576896,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
456,998,Point,597328,5873947,6653.128920,-4983.514683,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
457,999,Point,594811,5874851,5866.248124,-4700.822421,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
458,1000,Point,596732,5875313,6466.803551,-4556.349163,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [117]:
xtt2cord_list = tt2['x'].to_list()
# len(xtt1cord_list)
xtt2cord_list
ytt2cord_list = tt2['y'].to_list()
# len(ytt1cord_list)
ytt2cord_list

[5874110,
 5871955,
 5871475,
 5874605,
 5874070,
 5872410,
 5873668,
 5874286,
 5875394,
 5874279,
 5870126,
 5875168,
 5875114,
 5873971,
 5874010,
 5875061,
 5875133,
 5871384,
 5873581,
 5876032,
 5874786,
 5870663,
 5875371,
 5872371,
 5876276,
 5870909,
 5874449,
 5871290,
 5870723,
 5875960,
 5872083,
 5870025,
 5875144,
 5870587,
 5870432,
 5873546,
 5875151,
 5872167,
 5873273,
 5873398,
 5869875,
 5870880,
 5871755,
 5873936,
 5874929,
 5871426,
 5873785,
 5871959,
 5875530,
 5874769,
 5873918,
 5871828,
 5871866,
 5874480,
 5873792,
 5874118,
 5870835,
 5875523,
 5873548,
 5874396,
 5872731,
 5871042,
 5870288,
 5874360,
 5873540,
 5873247,
 5873626,
 5875156,
 5870440,
 5872963,
 5872102,
 5870276,
 5874741,
 5875527,
 5875519,
 5872199,
 5871817,
 5871645,
 5874106,
 5870584,
 5873723,
 5876156,
 5870568,
 5873394,
 5874130,
 5872382,
 5871522,
 5873997,
 5872729,
 5873165,
 5870544,
 5877295,
 5873043,
 5874982,
 5874447,
 5876684,
 5873089,
 5871567,
 5875288,
 5873277,
 5873246,
 5873759,
 5875857,
 5870366,
 5874138,
 5871632,
 5872511,
 5873055,
 5875506,
 5874954,
 5870404,
 5877022,
 5872742,
 5872336,
 5876457,
 5869186,
 5875959,
 5874727,
 5871713,
 5875757,
 5871474,
 5875907,
 5873928,
 5870873,
 5870740,
 5874023,
 5871307,
 5871604,
 5875852,
 5871638,
 5874397,
 5872911,
 5876256,
 5872845,
 5875012,
 5872617,
 5872489,
 5876272,
 5871786,
 5872441,
 5874109,
 5873108,
 5871369,
 5873519,
 5872628,
 5877664,
 5872240,
 5870894,
 5874132,
 5875711,
 5875374,
 5869776,
 5871209,
 5869964,
 5876558,
 5869724,
 5872692,
 5873122,
 5873770,
 5876034,
 5874043,
 5874615,
 5872239,
 5873925,
 5876683,
 5869852,
 5871435,
 5877127,
 5874473,
 5869538,
 5870526,
 5875089,
 5870054,
 5876573,
 5869261,
 5871645,
 5874431,
 5873765,
 5871525,
 5872171,
 5873530,
 5872584,
 5874371,
 5870906,
 5876542,
 5873458,
 5870944,
 5873117,
 5871574,
 5871267,
 5873045,
 5873183,
 5872772,
 5873827,
 5871327,
 5870072,
 5874145,
 5874393,
 5870987,
 5871852,
 5878256,
 5871358,
 5871736,
 5872677,
 5874866,
 5874354,
 5874127,
 5874416,
 5875868,
 5872845,
 5873793,
 5874408,
 5874880,
 5872165,
 5877776,
 5875348,
 5875949,
 5873281,
 5872198,
 5876549,
 5870337,
 5872256,
 5873275,
 5874196,
 5870527,
 5871326,
 5872113,
 5876391,
 5872716,
 5870313,
 5874535,
 5872901,
 5872374,
 5872450,
 5869602,
 5872937,
 5876702,
 5873426,
 5876910,
 5876164,
 5871778,
 5874123,
 5872011,
 5871790,
 5874220,
 5869363,
 5870834,
 5876982,
 5872270,
 5876021,
 5872744,
 5872192,
 5870942,
 5871793,
 5875503,
 5872150,
 5872609,
 5872108,
 5872810,
 5873762,
 5875433,
 5872707,
 5869627,
 5874691,
 5877256,
 5873421,
 5872645,
 5875065,
 5871970,
 5875474,
 5870065,
 5873112,
 5870066,
 5874308,
 5878321,
 5872673,
 5876425,
 5872916,
 5875309,
 5876128,
 5874507,
 5874872,
 5871459,
 5874316,
 5875523,
 5872378,
 5871116,
 5871087,
 5870696,
 5875752,
 5877817,
 5873341,
 5873125,
 5872018,
 5870679,
 5875729,
 5877194,
 5870813,
 5871234,
 5874089,
 5872172,
 5871067,
 5871841,
 5870705,
 5869828,
 5877295,
 5874029,
 5874561,
 5871008,
 5871504,
 5876257,
 5875002,
 5870991,
 5873011,
 5871884,
 5869060,
 5873754,
 5876883,
 5877270,
 5876897,
 5876533,
 5871653,
 5869631,
 5872444,
 5872666,
 5870796,
 5869271,
 5870545,
 5876916,
 5874295,
 5874271,
 5873600,
 5870503,
 5874375,
 5870777,
 5872977,
 5876328,
 5876543,
 5875154,
 5874135,
 5869326,
 5872964,
 5870403,
 5872055,
 5871333,
 5870833,
 5870645,
 5875877,
 5869235,
 5870535,
 5874898,
 5870831,
 5875744,
 5876810,
 5875252,
 5877358,
 5875393,
 5872581,
 5875118,
 5868988,
 5873299,
 5872749,
 5870914,
 5872169,
 5873985,
 5874610,
 5870993,
 5874085,
 5875612,
 5870673,
 5872377,
 5871962,
 5870947,
 5872322,
 5875765,
 5873888,
 5872265,
 5874932,
 5872864,
 5876207,
 5870940,
 5872478,
 5872262,
 5876813,
 5871513,
 5869546,
 5870646,
 5876453,
 5870633,
 5875898,
 5872416,
 5875076,
 5876633,
 5871832,
 5874694,
 5873716,
 5877453,
 5875198,
 5876066,
 5874062,
 5875449,
 5876944,
 5875865,
 5871978,
 5871365,
 5873256,
 5874842,
 5875774,
 5873153,
 5872737,
 5872795,
 5874483,
 5875458,
 5871974,
 5872544,
 5874646,
 5874858,
 5874246,
 5872260,
 5873519,
 5871345,
 5872778,
 5872824,
 5873616,
 5871862,
 5871432,
 5874257,
 5869468,
 5872666,
 5875674,
 5871762,
 5874866,
 5869752,
 5870621,
 5873349,
 5870425,
 5874510,
 5873307,
 5875221,
 5873578,
 5875456,
 5876008,
 5869770,
 5875641,
 5874511,
 5873371,
 5870627,
 5876016,
 5873230,
 5876491,
 5874334,
 5872868,
 5875654,
 5871556,
 5870140,
 5872479,
 5873947,
 5874851,
 5875313]

In [118]:
tambo2

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,596169,5867524,6290.794855,-6992.068222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576045.0,5889885.0,-0.500000,0.500000
1,601987,5875126,8109.655592,-4614.826434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,627445.0,5858735.0,16068.499977,-9740.499961
2,591056,5885683,4692.335771,-1313.518679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,592552,5885224,5160.024954,-1457.053798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,590646,5877693,4564.158923,-3812.092986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,600433,5870140,7623.834075,-6174.011853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,597452,5872479,6691.894601,-5442.576896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,597328,5873947,6653.128920,-4983.514683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,594811,5874851,5866.248124,-4700.822421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,596732,5875313,6466.803551,-4556.349163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
tambo2['target'] = np.where( (tambo2['x'].isin(xtt2cord_list) & (tambo2['y'].isin(ytt2cord_list) )), 1, 0)

In [120]:
tambo2.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [121]:
tambo2 = tambo2.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis =1)

In [122]:
tambo2

     target
0         0
1         0
2         0
3         0
4         0
..      ...
995       1
996       1
997       1
998       1
999       1

[1000 rows x 1 columns]

In [123]:
len(tambo2.loc[tambo2['target']==1])

459

In [142]:
tambo2new

     target
0         0
1         0
2         0
3         0
4         0
..      ...
995       0
996       0
997       0
998       0
999       0

[1000 rows x 1 columns]

In [185]:
len(tambo2new1.loc[tambo2new1['target']==1])

501

# TAMTEST3

In [154]:
file = pd. ExcelFile('boss_nf_sub.xlsx')
tt3 = pd. read_excel(file, 'tamtest3')
tambo3 = pd. read_excel(file, 'tambo_test3')

In [155]:
tt3

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,5,Point,596812,5874018,6491.813668,-4961.312083,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
1,6,Point,597555,5871674,6724.095127,-5694.310603,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,9,Point,594928,5874230,5902.825420,-4895.016995,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,20,Point,601897,5871172,8081.519210,-5851.292368,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,22,Point,598354,5871828,6973.883667,-5646.152851,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,996,Point,600703,5870515,7708.243219,-6056.744599,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
472,997,Point,594583,5873645,5794.969291,-5077.953912,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
473,998,Point,595124,5873975,5964.100205,-4974.758728,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
474,999,Point,598240,5869447,6938.244251,-6390.721740,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
475,1000,Point,598140,5873028,6906.981605,-5270.897635,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [156]:
xtt3cord_list = tt3['x'].to_list()
# len(xtt1cord_list)
xtt3cord_list
ytt3cord_list = tt3['y'].to_list()
# len(ytt1cord_list)
ytt3cord_list

[5874018,
 5871674,
 5874230,
 5871172,
 5871828,
 5873992,
 5871508,
 5870509,
 5872511,
 5870062,
 5872947,
 5873749,
 5871233,
 5873259,
 5874241,
 5873694,
 5870615,
 5872313,
 5871071,
 5870269,
 5876126,
 5870475,
 5873636,
 5871714,
 5873882,
 5872032,
 5873216,
 5871403,
 5872396,
 5872218,
 5869785,
 5871778,
 5876135,
 5873775,
 5872926,
 5873160,
 5871803,
 5874238,
 5871729,
 5872707,
 5873555,
 5874625,
 5873990,
 5872451,
 5872427,
 5871759,
 5873603,
 5873491,
 5869543,
 5873993,
 5873463,
 5875396,
 5871796,
 5872389,
 5872378,
 5870461,
 5870541,
 5870052,
 5873032,
 5873519,
 5872391,
 5874242,
 5873468,
 5870019,
 5873032,
 5871841,
 5875237,
 5871600,
 5872964,
 5872844,
 5870706,
 5874151,
 5873145,
 5872095,
 5870402,
 5870684,
 5872790,
 5874660,
 5872418,
 5872638,
 5871093,
 5871469,
 5873629,
 5872925,
 5870499,
 5871678,
 5874191,
 5872124,
 5870473,
 5872217,
 5869143,
 5872361,
 5873644,
 5871263,
 5873512,
 5871291,
 5873060,
 5874596,
 5873945,
 5873612,
 5872650,
 5873593,
 5872073,
 5872687,
 5872435,
 5871604,
 5872864,
 5871838,
 5874037,
 5870630,
 5870571,
 5869000,
 5872465,
 5875701,
 5875262,
 5870757,
 5871186,
 5873787,
 5869537,
 5872847,
 5870499,
 5869883,
 5873572,
 5871191,
 5873336,
 5869650,
 5872595,
 5869863,
 5874210,
 5874651,
 5873741,
 5873309,
 5871081,
 5871356,
 5872523,
 5870665,
 5869129,
 5873801,
 5872547,
 5872798,
 5873116,
 5869759,
 5873491,
 5870369,
 5872467,
 5871618,
 5871235,
 5873213,
 5871379,
 5872755,
 5871981,
 5873950,
 5871947,
 5871407,
 5875886,
 5874698,
 5874126,
 5875130,
 5870504,
 5872305,
 5870021,
 5871603,
 5873822,
 5873925,
 5870568,
 5874507,
 5873301,
 5872198,
 5871142,
 5873160,
 5868982,
 5874388,
 5872187,
 5871995,
 5872751,
 5869853,
 5869978,
 5869458,
 5871577,
 5872804,
 5871853,
 5871006,
 5870655,
 5871197,
 5869909,
 5872844,
 5871352,
 5874238,
 5873408,
 5871991,
 5870544,
 5870748,
 5872421,
 5873834,
 5870261,
 5873503,
 5875216,
 5869162,
 5874141,
 5872696,
 5870370,
 5871069,
 5872033,
 5870332,
 5871126,
 5870552,
 5871315,
 5870908,
 5869306,
 5874018,
 5873132,
 5872571,
 5872512,
 5873942,
 5870065,
 5870086,
 5874160,
 5871440,
 5871638,
 5871858,
 5871318,
 5870473,
 5872233,
 5870944,
 5875179,
 5870310,
 5871591,
 5873164,
 5873805,
 5876350,
 5871416,
 5873578,
 5873797,
 5870627,
 5872378,
 5872665,
 5873565,
 5871408,
 5873994,
 5874390,
 5870956,
 5869873,
 5870306,
 5871542,
 5870977,
 5871807,
 5875134,
 5875069,
 5870146,
 5874415,
 5872310,
 5869331,
 5870726,
 5874192,
 5870920,
 5873602,
 5874130,
 5872482,
 5870798,
 5873261,
 5872525,
 5874890,
 5875529,
 5870103,
 5873801,
 5870159,
 5873707,
 5870948,
 5873409,
 5871863,
 5870583,
 5873569,
 5872085,
 5871806,
 5870725,
 5871202,
 5871196,
 5874334,
 5871488,
 5872430,
 5875237,
 5871028,
 5871548,
 5871064,
 5871481,
 5872783,
 5873094,
 5871154,
 5871449,
 5871620,
 5873574,
 5875458,
 5871002,
 5872548,
 5874830,
 5872404,
 5874153,
 5871035,
 5871616,
 5872170,
 5871732,
 5871792,
 5869171,
 5873576,
 5873910,
 5872067,
 5872120,
 5873807,
 5872865,
 5870760,
 5869396,
 5872547,
 5871769,
 5875810,
 5869975,
 5873838,
 5871207,
 5872375,
 5872258,
 5869488,
 5874178,
 5872921,
 5873998,
 5869716,
 5870594,
 5870374,
 5872992,
 5873465,
 5873116,
 5873577,
 5873425,
 5872726,
 5870434,
 5873711,
 5873646,
 5875011,
 5871414,
 5874013,
 5870128,
 5870522,
 5872466,
 5871540,
 5872905,
 5873010,
 5875194,
 5871900,
 5870445,
 5870180,
 5873048,
 5872150,
 5871485,
 5870207,
 5872637,
 5872074,
 5875339,
 5871160,
 5875225,
 5869214,
 5870395,
 5871520,
 5875431,
 5872189,
 5876089,
 5872286,
 5869863,
 5872570,
 5875586,
 5875556,
 5869617,
 5873550,
 5872469,
 5869901,
 5869105,
 5870512,
 5870489,
 5871539,
 5871821,
 5874285,
 5872292,
 5873062,
 5874456,
 5869047,
 5869660,
 5873186,
 5871983,
 5871839,
 5874440,
 5872124,
 5874718,
 5872705,
 5871684,
 5869561,
 5873589,
 5873058,
 5875717,
 5870641,
 5873143,
 5874673,
 5870648,
 5875023,
 5870775,
 5871171,
 5870848,
 5872480,
 5872843,
 5875693,
 5870399,
 5870846,
 5872461,
 5874033,
 5870022,
 5872928,
 5872154,
 5873383,
 5874725,
 5873148,
 5875179,
 5873700,
 5874516,
 5872990,
 5871292,
 5874551,
 5872364,
 5871403,
 5873599,
 5871423,
 5871146,
 5869796,
 5871551,
 5869773,
 5871334,
 5871334,
 5870734,
 5871090,
 5869516,
 5869813,
 5869485,
 5871260,
 5870145,
 5875900,
 5869599,
 5871453,
 5871892,
 5869671,
 5870853,
 5872386,
 5870589,
 5871260,
 5874593,
 5872937,
 5869299,
 5872830,
 5875090,
 5869892,
 5871603,
 5871260,
 5870753,
 5872800,
 5869700,
 5872864,
 5875759,
 5870635,
 5872308,
 5872084,
 5869246,
 5871668,
 5873345,
 5871125,
 5871579,
 5869946,
 5872826,
 5870515,
 5873645,
 5873975,
 5869447,
 5873028]

In [157]:
tambo3

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,608948,5870614,10291.609596,-6030.116605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576045.0,5889885.0,-0.500000,0.500000
1,600096,5863575,7522.690223,-8232.882953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,627445.0,5858735.0,16077.499977,-9747.499961
2,610474,5870006,10768.944771,-6220.382543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,611465,5871503,11078.931113,-5751.915258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,596812,5874018,6495.449913,-4964.877701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,600703,5870515,7712.560767,-6061.097408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,594583,5873645,5798.215245,-5081.603350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,595124,5873975,5967.440886,-4978.334009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,598240,5869447,6942.130535,-6395.314549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,598140,5873028,6910.850379,-5274.685725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
tambo3['target'] = np.where( (tambo3['x'].isin(xtt3cord_list) & (tambo3['y'].isin(ytt3cord_list) )), 1, 0)

In [159]:
tambo3.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [160]:
tambo3 = tambo3.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis =1)

In [161]:
tambo3

     target
0         0
1         0
2         0
3         0
4         1
..      ...
995       1
996       1
997       1
998       1
999       1

[1000 rows x 1 columns]

In [162]:
len(tambo3.loc[tambo3['target']==1])

477

# TAMTEST3 NEW

In [163]:
file = pd. ExcelFile('boss_nf_sub.xlsx')
tt3new = pd. read_excel(file, 'tamtest3new')
tambo3new = pd. read_excel(file, 'tambo_test3')

In [164]:
tt3new

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,5,Point,596812,5874018,6495.449913,-4964.877701,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
1,6,Point,597555,5871674,6727.861469,-5698.402963,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,7,Point,604569,5870897,8921.851583,-5941.555321,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,9,Point,594928,5874230,5906.131781,-4898.534972,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,20,Point,601897,5871172,8086.045825,-5855.497537,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,996,Point,600703,5870515,7712.560767,-6061.097408,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
584,997,Point,594583,5873645,5798.215245,-5081.603350,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
585,998,Point,595124,5873975,5967.440886,-4978.334009,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
586,999,Point,598240,5869447,6942.130535,-6395.314549,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
587,1000,Point,598140,5873028,6910.850379,-5274.685725,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [165]:
xtt3newcord_list = tt3new['x'].to_list()
# len(xtt1cord_list)
xtt3newcord_list
ytt3newcord_list = tt3new['y'].to_list()
# len(ytt1cord_list)
ytt3newcord_list

[5874018,
 5871674,
 5870897,
 5874230,
 5871172,
 5871828,
 5873992,
 5871508,
 5870509,
 5872511,
 5868173,
 5870062,
 5872947,
 5873749,
 5873903,
 5871291,
 5871233,
 5873259,
 5874241,
 5873694,
 5870615,
 5870453,
 5872313,
 5871071,
 5869806,
 5870269,
 5876126,
 5870475,
 5873636,
 5867031,
 5871714,
 5873882,
 5872032,
 5873216,
 5868678,
 5871403,
 5872396,
 5872218,
 5869785,
 5869920,
 5871778,
 5872624,
 5876135,
 5873775,
 5870735,
 5867321,
 5872926,
 5873160,
 5871803,
 5874238,
 5871729,
 5872707,
 5867821,
 5870108,
 5873920,
 5873555,
 5874625,
 5873990,
 5872451,
 5872427,
 5871759,
 5867473,
 5869552,
 5873603,
 5873491,
 5869375,
 5868582,
 5869543,
 5868821,
 5873993,
 5869432,
 5873463,
 5875396,
 5868616,
 5871796,
 5872389,
 5872378,
 5870461,
 5868832,
 5873364,
 5870541,
 5867963,
 5867666,
 5869725,
 5870052,
 5873032,
 5870362,
 5873519,
 5872391,
 5874242,
 5873468,
 5868231,
 5870019,
 5873032,
 5871302,
 5871841,
 5871130,
 5875237,
 5871982,
 5869314,
 5871600,
 5868881,
 5872964,
 5869834,
 5872844,
 5870706,
 5874151,
 5873145,
 5872095,
 5868391,
 5870402,
 5868884,
 5868708,
 5870684,
 5869073,
 5872790,
 5874660,
 5872418,
 5868841,
 5872597,
 5872638,
 5871093,
 5867618,
 5871469,
 5873629,
 5872925,
 5871069,
 5869174,
 5868805,
 5867388,
 5870499,
 5868956,
 5871678,
 5874191,
 5867477,
 5872124,
 5870473,
 5868335,
 5868474,
 5872217,
 5869143,
 5872361,
 5873644,
 5871263,
 5873512,
 5871291,
 5873060,
 5874596,
 5868575,
 5873945,
 5869416,
 5870042,
 5873612,
 5871586,
 5868278,
 5872650,
 5868369,
 5871858,
 5869486,
 5873593,
 5867642,
 5872073,
 5871488,
 5870723,
 5872687,
 5871649,
 5871030,
 5872435,
 5870890,
 5871604,
 5867829,
 5872864,
 5871838,
 5874037,
 5870630,
 5870571,
 5870158,
 5869000,
 5872465,
 5875701,
 5875262,
 5870757,
 5871186,
 5873787,
 5867798,
 5869537,
 5872847,
 5868702,
 5870499,
 5869883,
 5873572,
 5868161,
 5871191,
 5873336,
 5871286,
 5869650,
 5868866,
 5872595,
 5869879,
 5869863,
 5874210,
 5874651,
 5873741,
 5872314,
 5873309,
 5871081,
 5871356,
 5872523,
 5870665,
 5869129,
 5873801,
 5872547,
 5871270,
 5872798,
 5873116,
 5871395,
 5869759,
 5873491,
 5870369,
 5868900,
 5872467,
 5871618,
 5869029,
 5871235,
 5873213,
 5871379,
 5872755,
 5871981,
 5873950,
 5871947,
 5867321,
 5871407,
 5875886,
 5874698,
 5869105,
 5867171,
 5874126,
 5875130,
 5870504,
 5872305,
 5870021,
 5871603,
 5873822,
 5873925,
 5868509,
 5870568,
 5874507,
 5873501,
 5871573,
 5870609,
 5873301,
 5867120,
 5870478,
 5872198,
 5871408,
 5871142,
 5873160,
 5868982,
 5874388,
 5872187,
 5871995,
 5872751,
 5869853,
 5869978,
 5869458,
 5871577,
 5872804,
 5871853,
 5871006,
 5870655,
 5871197,
 5869909,
 5872844,
 5870644,
 5871352,
 5874238,
 5873408,
 5871991,
 5870544,
 5870748,
 5872421,
 5873834,
 5870261,
 5873503,
 5875216,
 5869141,
 5869162,
 5874141,
 5872696,
 5869779,
 5870370,
 5870603,
 5871069,
 5872033,
 5870332,
 5871126,
 5870552,
 5871315,
 5870908,
 5869306,
 5874018,
 5873132,
 5872571,
 5872512,
 5873942,
 5870377,
 5871066,
 5870065,
 5870086,
 5874160,
 5871440,
 5871638,
 5869967,
 5871858,
 5871318,
 5870473,
 5872233,
 5870944,
 5875179,
 5870310,
 5871591,
 5871071,
 5873164,
 5873805,
 5876350,
 5870770,
 5871416,
 5873578,
 5873797,
 5868737,
 5870627,
 5872378,
 5872665,
 5873565,
 5871408,
 5873994,
 5870146,
 5874390,
 5870956,
 5869873,
 5870306,
 5871542,
 5870977,
 5871807,
 5869256,
 5875134,
 5870904,
 5875069,
 5870146,
 5874415,
 5872310,
 5869331,
 5870726,
 5874192,
 5870920,
 5873602,
 5874130,
 5872482,
 5870798,
 5873261,
 5869951,
 5872525,
 5874890,
 5875529,
 5870103,
 5873801,
 5870159,
 5873707,
 5870948,
 5873409,
 5871863,
 5870583,
 5873569,
 5872085,
 5871806,
 5870725,
 5871202,
 5871196,
 5874334,
 5871488,
 5872430,
 5875237,
 5871028,
 5871548,
 5871064,
 5871481,
 5872783,
 5873094,
 5871154,
 5871449,
 5871620,
 5873574,
 5875458,
 5871002,
 5869639,
 5872548,
 5874830,
 5872404,
 5874153,
 5871035,
 5871616,
 5870266,
 5872170,
 5871732,
 5871792,
 5869171,
 5873576,
 5873910,
 5872067,
 5872120,
 5873807,
 5868960,
 5872865,
 5870760,
 5869396,
 5872547,
 5871769,
 5875810,
 5869975,
 5873838,
 5871207,
 5872375,
 5872258,
 5869488,
 5874178,
 5872921,
 5868588,
 5873998,
 5869716,
 5870594,
 5870374,
 5872992,
 5868725,
 5873465,
 5873116,
 5873577,
 5873425,
 5872726,
 5870434,
 5873711,
 5873646,
 5875011,
 5871414,
 5874013,
 5870128,
 5870522,
 5872466,
 5871540,
 5872905,
 5873010,
 5875194,
 5871900,
 5870445,
 5870180,
 5873048,
 5872150,
 5871485,
 5870207,
 5872637,
 5872074,
 5875339,
 5871160,
 5875225,
 5869214,
 5870395,
 5871520,
 5875431,
 5876089,
 5872286,
 5869863,
 5869707,
 5872570,
 5875586,
 5875556,
 5869617,
 5873550,
 5872469,
 5869901,
 5869386,
 5869105,
 5870512,
 5870489,
 5871539,
 5871821,
 5874285,
 5872292,
 5873062,
 5874456,
 5869300,
 5869047,
 5869660,
 5873186,
 5871983,
 5874440,
 5868639,
 5872124,
 5874718,
 5872705,
 5871684,
 5869561,
 5873589,
 5873058,
 5875717,
 5870641,
 5873143,
 5874673,
 5870648,
 5875023,
 5870775,
 5871171,
 5870848,
 5872480,
 5868835,
 5875693,
 5870399,
 5870846,
 5872461,
 5874033,
 5870022,
 5872928,
 5872154,
 5873383,
 5874725,
 5873148,
 5875179,
 5873700,
 5874516,
 5872990,
 5871292,
 5874551,
 5872364,
 5871403,
 5873599,
 5871423,
 5871146,
 5869796,
 5871551,
 5869773,
 5871334,
 5871334,
 5870734,
 5871090,
 5869516,
 5869813,
 5869485,
 5871260,
 5870145,
 5875900,
 5869599,
 5871453,
 5871892,
 5869671,
 5870853,
 5872386,
 5870589,
 5868351,
 5871260,
 5874593,
 5872937,
 5869299,
 5872830,
 5875090,
 5869892,
 5871603,
 5871260,
 5870753,
 5872800,
 5869700,
 5872864,
 5875759,
 5870635,
 5872308,
 5869477,
 5872084,
 5869246,
 5871668,
 5873345,
 5871125,
 5869013,
 5871579,
 5870911,
 5869946,
 5872826,
 5870515,
 5873645,
 5873975,
 5869447,
 5873028]

In [166]:
tambo3new

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,608948,5870614,10291.609596,-6030.116605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576045.0,5889885.0,-0.500000,0.500000
1,600096,5863575,7522.690223,-8232.882953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,627445.0,5858735.0,16077.499977,-9747.499961
2,610474,5870006,10768.944771,-6220.382543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,611465,5871503,11078.931113,-5751.915258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,596812,5874018,6495.449913,-4964.877701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,600703,5870515,7712.560767,-6061.097408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,594583,5873645,5798.215245,-5081.603350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,595124,5873975,5967.440886,-4978.334009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,598240,5869447,6942.130535,-6395.314549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,598140,5873028,6910.850379,-5274.685725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
tambo3new['target'] = np.where( (tambo3new['x'].isin(xtt3newcord_list) & (tambo3new['y'].isin(ytt3newcord_list) )), 1, 0)

In [168]:
tambo3new.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [169]:
tambo3new = tambo3new.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis =1)

In [170]:
tambo3new

     target
0         0
1         0
2         0
3         0
4         1
..      ...
995       1
996       1
997       1
998       1
999       1

[1000 rows x 1 columns]

In [171]:
len(tambo3new.loc[tambo3new['target']==1])

589

# TAMTEST3 NEW1

In [205]:
file = pd. ExcelFile('boss_nf_sub1.xlsx')
tt3new1 = pd. read_excel(file, 'tamtest3new1')
tambo3new1 = pd. read_excel(file, 'tambo_test3')

In [206]:
tt3new1

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,5,Point,596812,5874018,6495.449913,-4964.877701,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
1,6,Point,597555,5871674,6727.861469,-5698.402963,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
2,9,Point,594928,5874230,5906.131781,-4898.534972,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,22,Point,598354,5871828,6977.789912,-5650.210603,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,28,Point,599124,5873992,7218.647110,-4973.014073,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,994,Point,597595,5869946,6740.373531,-6239.158787,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
336,995,Point,599075,5872826,7203.319834,-5337.899080,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
337,997,Point,594583,5873645,5798.215245,-5081.603350,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
338,998,Point,595124,5873975,5967.440886,-4978.334009,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
339,1000,Point,598140,5873028,6910.850379,-5274.685725,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [207]:
xtt3new1cord_list = tt3new1['x'].to_list()
# len(xtt1cord_list)
xtt3new1cord_list
ytt3new1cord_list = tt3new1['y'].to_list()
# len(ytt1cord_list)
ytt3new1cord_list

[5874018,
 5871674,
 5874230,
 5871828,
 5873992,
 5871508,
 5870509,
 5872511,
 5870062,
 5872947,
 5873749,
 5871233,
 5873694,
 5872313,
 5871071,
 5870269,
 5870475,
 5874919,
 5871714,
 5872396,
 5872218,
 5869785,
 5871778,
 5873775,
 5873160,
 5871803,
 5874238,
 5871729,
 5872707,
 5873555,
 5874625,
 5873990,
 5872451,
 5871759,
 5873603,
 5873491,
 5869543,
 5873463,
 5875396,
 5872389,
 5872378,
 5870541,
 5873032,
 5874242,
 5873032,
 5875237,
 5871600,
 5872964,
 5872844,
 5874151,
 5870684,
 5874660,
 5872418,
 5872638,
 5872925,
 5870499,
 5871678,
 5874191,
 5872124,
 5870473,
 5872217,
 5872361,
 5871263,
 5873512,
 5873060,
 5874596,
 5873945,
 5873612,
 5872650,
 5872435,
 5871604,
 5871838,
 5874037,
 5870630,
 5870571,
 5875701,
 5875262,
 5870757,
 5871186,
 5873787,
 5869537,
 5870499,
 5873572,
 5873336,
 5869863,
 5874210,
 5874651,
 5873741,
 5871356,
 5873801,
 5872547,
 5872798,
 5873116,
 5870369,
 5872467,
 5871618,
 5871235,
 5873213,
 5871379,
 5872755,
 5871981,
 5873950,
 5871947,
 5875886,
 5874698,
 5875130,
 5870504,
 5870021,
 5871603,
 5873822,
 5873925,
 5870568,
 5874507,
 5871142,
 5873160,
 5874388,
 5872187,
 5872751,
 5869978,
 5872804,
 5871853,
 5871006,
 5870655,
 5872844,
 5874238,
 5873408,
 5870748,
 5872421,
 5873834,
 5870261,
 5873503,
 5875216,
 5874141,
 5871069,
 5872033,
 5870332,
 5871126,
 5870552,
 5871315,
 5870908,
 5874018,
 5873132,
 5873942,
 5874160,
 5871440,
 5871858,
 5871318,
 5872233,
 5875179,
 5870310,
 5871591,
 5873164,
 5873805,
 5871416,
 5873578,
 5873797,
 5872378,
 5872665,
 5873565,
 5871408,
 5873994,
 5874390,
 5870306,
 5871542,
 5870977,
 5875134,
 5875069,
 5874415,
 5872310,
 5870726,
 5874192,
 5870920,
 5873602,
 5874130,
 5872482,
 5870798,
 5873261,
 5872525,
 5874890,
 5875529,
 5873801,
 5870159,
 5873707,
 5870948,
 5873409,
 5870583,
 5873569,
 5872085,
 5870725,
 5871196,
 5874334,
 5871488,
 5872430,
 5875237,
 5871028,
 5871548,
 5871481,
 5872783,
 5873094,
 5871154,
 5871449,
 5873574,
 5875458,
 5871002,
 5872548,
 5874830,
 5872404,
 5874153,
 5871035,
 5872170,
 5871792,
 5873576,
 5873910,
 5872067,
 5872120,
 5873807,
 5872865,
 5870760,
 5872547,
 5871769,
 5875810,
 5873838,
 5871207,
 5872258,
 5869488,
 5874178,
 5872921,
 5873998,
 5870374,
 5872992,
 5873465,
 5873116,
 5873577,
 5873425,
 5872726,
 5870434,
 5873711,
 5873646,
 5875011,
 5874013,
 5870522,
 5872466,
 5871540,
 5872905,
 5873010,
 5875194,
 5870180,
 5873048,
 5872150,
 5870207,
 5872074,
 5875339,
 5875225,
 5870395,
 5875431,
 5872189,
 5872570,
 5875586,
 5875556,
 5869617,
 5873550,
 5869901,
 5870512,
 5871539,
 5874285,
 5872292,
 5873062,
 5874456,
 5873186,
 5871983,
 5871839,
 5874440,
 5872124,
 5874718,
 5871684,
 5873589,
 5873058,
 5875717,
 5870641,
 5873143,
 5874673,
 5870648,
 5875023,
 5870775,
 5870848,
 5872480,
 5872843,
 5875693,
 5870399,
 5870846,
 5872461,
 5874033,
 5872928,
 5872154,
 5874725,
 5873148,
 5875179,
 5873700,
 5874516,
 5872990,
 5871292,
 5874551,
 5872364,
 5873599,
 5871146,
 5869796,
 5869773,
 5871334,
 5870734,
 5871090,
 5869813,
 5869485,
 5870145,
 5875900,
 5871453,
 5871892,
 5870853,
 5870589,
 5871260,
 5874593,
 5872937,
 5872830,
 5875090,
 5871260,
 5872800,
 5869700,
 5872864,
 5875759,
 5870635,
 5872308,
 5872084,
 5871668,
 5873345,
 5871125,
 5871579,
 5869946,
 5872826,
 5873645,
 5873975,
 5873028]

In [208]:
tambo3new1

,x,y,xnew,ynew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,xold,yold,xnewold,ynewold
0,608948,5870614,10285.848370,-6025.786043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,576045.0,5889885.0,-0.500000,0.500000
1,600096,5863575,7518.478958,-8226.970593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,627445.0,5858735.0,16068.499977,-9740.499961
2,610474,5870006,10762.916346,-6215.915352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,611465,5871503,11072.729167,-5747.784471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,596812,5874018,6491.813668,-4961.312083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,600703,5870515,7708.243219,-6056.744599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,594583,5873645,5794.969291,-5077.953912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,595124,5873975,5964.100205,-4974.758728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,598240,5869447,6938.244251,-6390.721740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,598140,5873028,6906.981605,-5270.897635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
tambo3new1['target'] = np.where( (tambo3new1['x'].isin(xtt3new1cord_list) & (tambo3new1['y'].isin(ytt3new1cord_list) )), 1, 0)

In [210]:
tambo3new1.columns

Index(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold', 'target'],
      dtype='object')

In [211]:
tambo3new1 = tambo3new1.drop(['x', 'y', 'xnew', 'ynew', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'xold', 'yold', 'xnewold', 'ynewold'], axis =1)

In [212]:
tambo3new1

     target
0         0
1         0
2         0
3         0
4         1
..      ...
995       0
996       1
997       1
998       0
999       1

[1000 rows x 1 columns]

In [213]:
len(tambo3new1.loc[tambo3new1['target']==1])

340

# POLYSUB_6

In [214]:
nf_sub = pd.concat([rosedale1_nf3, rosedale2_nf1, tambo1new, tambo2, tambo3new1], axis=0)

In [215]:
nf_sub

     target
0         0
1         0
2         0
3         0
4         0
..      ...
995       0
996       1
997       1
998       0
999       1

[5000 rows x 1 columns]

In [216]:
len(nf_sub.loc[nf_sub['target']==1])

2338

In [217]:
nf_sub.to_csv('nf_sub13.csv')